html, body{

font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-image: url("http://wallpapercave.com/wp/qb13up6.jpg"); 
	background-size: cover; 

	margin: 0px;
	padding: 0px;
	
}

h1{
	color: white;
}

.nav {
	padding-right: 1px;
	margin: 0px;
	color: white;
	display: flex;
		font-size: 20px;
	background-color: rgba(128, 197, 252, .9); 
	max-width: 100%;
  min-width: 1468px;
   min-height: 100px;
  
}

.nav ul{
	display: inline;
}

.nav li{
	display: inline;
	padding-left: 15px;
	padding-top: 30px;
	font-size: 25px;
}

.nav h2{

	
	padding-right: 790px;
	display: inline;
	
	font-size: 30px;
	color: white;
}

.we{
	padding-top: 25px;
	color: white;
	text-decoration-line: none;

}

.w {
	padding-top: 25px;
	color: white;
	text-decoration-line:none; 
}

.w:hover {
	text-decoration-line: none;
}

a:hover{

	text-decoration-line: underline;
}

.img2{

	padding-bottom: 250px;
	padding-left: 10px;
	padding-right: 30px;
}

